body {
    background: linear-gradient(to bottom, #87CEEB, #000080);
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .contact-details-container {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000080; /* Color del texto */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000; 
    font-weight: lighter; 
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  strong {
    text-decoration: underline; 
  }
  
  a {
    color: #000080; 
  }
  
  a:hover {
    text-decoration: none;
    color: #4CAF50; 
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  .create-contact-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .create-contact-button:hover {
    background-color: #45a049;
  }
  